<!DOCTYPE html>
<html lang="de">
<link rel="stylesheet" href="css/bootstrap.css">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/bootstrap.js"></script>
    <script src="js/underscore-min.js"></script>
</head>
<script>
$(document).ready(function() {
 var ourVelos = [{name: 'Super Velo 1', imageName: 'velo.jpg', price: '999 CHF', link: 'velo1'},
                 {name: 'Super Velo 2', imageName: 'velo.jpg', price: '899 CHF', link: 'velo2'},
                 {name: 'Super Baby Velo', imageName: 'velo.jpg', price: '399 CHF', link: 'velo3'}];

                 var velos = $("#bicycletemplate").html();
                 var veloTemplate =_.template(velos);

 var createVelos ='';

   _.each(ourVelos, function (ourVelo, index, ourVelos){
     createVelos += veloTemplate({
       ourVelos:ourVelo
     });
    });

 var veloContainer = document.getElementById('velorow');
 veloContainer.innerHTML = createVelos;
 var veloContainer = document.getElementById('velorow2');
 veloContainer.innerHTML = createVelos;


});
</script>
<script type="text/template" id="bicycletemplate">
  <div class="col" id="<%=ourVelos.id%>">
   <a class="nav-link active" href="<%= ourVelos.link%>.html">
    <img class="card-img-top" src="images/<%= ourVelos.imageName%>" alt="Image of Bicycle">
    <p><%=ourVelos.name%></p><p><%= ourVelos.price%></p>
    </a></div>
    <input type="image" id="<%=ourVelos.link%>" class="delbutton" src="images/delete.png" alt="addbutton" height="25px">
</script>
<body>
<div class="card bg-dark text-white">
    <img class="card-img" src="images/header.jpg" alt="Card image">
    <div class="card-img-overlay">

    </div>
</div>
<div class="card text-center">
<div class="card-header">
  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
      <a class="nav-link " href="index.html">Home</a>
    </li>
    <li class="nav-item" id="nav">
      <a class="nav-link " href="aboutus.html">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="team.html">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="shop.html">Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="contact.html">Contact</a>
    </li>
  </ul>
</div>

  <div class="container">


<div class="row" style="margin-left: inherit">
    <div class="col">
        <div class="dropdown" style="color:lightgray">
            <button class="dropbtn" style="float: left; background-color:#007bff; width: 100px">Men</button>
            <div class="dropdown-content" style="float:left; margin-top:55px;">
                <a href="#">E-Bike</a>
                <a href="#">Mountainbike</a>
                <a href="#">BMX</a>
            </div>
        </div>
        <div class="dropdown">
        <button class="dropbtn" style="float: left;  background-color: #007bff; width: 100px">Women</button>
        <div class="dropdown-content" style="float:left; margin-top:55px;">
            <a href="#">E-Bike</a>
            <a href="#">Mountainbike</a>
            <a href="#">BMX</a>
        </div>
    </div>

        <div class="dropdown">
            <button class="dropbtn" style="float: left;  background-color: #007bff; width: 100px">Kids</button>
            <div class="dropdown-content" style="float:left; margin-top:55px;">
                <a href="#">E-Bike</a>
                <a href="#">Mountainbike</a>
                <a href="#">BMX</a>
            </div>
        </div>



    </div>




</div>


        <div class="row" id="velorow"></div>
        <div class="row" id="velorow2"></div>

    </div>
<div class="card-footer text-muted">
    2 days ago
</div>
</body>
</html>
